<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beyondself.jalen.studyingandroid">

    <!-- Bmob的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 分享添加的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 有米广告分享功能需要添加的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 如果使用积分墙广告,还需要配置下面权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- 以下为可选权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 语音识别加的权限 -->
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_lan"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 闪屏页面 -->
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页面 -->
        <activity android:name=".activity.MainActivity" />
        <!-- 登录页面 -->
        <activity
            android:name=".activity.login.LoginActivity"
            android:parentActivityName=".activity.MainActivity" />
        <!-- 注册页面 -->
        <activity
            android:name=".activity.login.RegisterActivity"
            android:parentActivityName=".activity.login.LoginActivity" />
        <!-- 用户信息页面 -->
        <activity
            android:name=".activity.login.UserInfoActivity"
            android:parentActivityName=".activity.MainActivity" />
        <!-- 更改用户信息页面 -->
        <activity
            android:name=".activity.login.UpdateUserInfoActivity"
            android:parentActivityName=".activity.login.UserInfoActivity" />

        <!-- 设置页面 -->
        <activity
            android:name=".activity.SettingActivity"
            android:parentActivityName=".activity.MainActivity" />
        <!-- 找回密码页面 -->
        <activity
            android:name=".activity.login.PickUpPSDActivity"
            android:parentActivityName=".activity.login.LoginActivity" />
        <!-- 学习页面 -->
        <activity
            android:name=".activity.study.StudyActivity"
            android:parentActivityName=".activity.MainActivity" />
        <!-- 排行榜页面 -->
        <activity
            android:name=".activity.RankActivity"
            android:parentActivityName=".activity.MainActivity" />
        <!-- 一键分享功能 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 调用微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 调用新浪原生SDK，需要注册的回调activity -->
        <activity
            android:name="cn.sharesdk.sina.weibo.SinaActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 反馈信息 -->
        <activity
            android:name=".activity.feedback.FeedActivity"
            android:parentActivityName=".activity.SettingActivity" />
        <!-- 展示反馈信息 -->
        <activity
            android:name=".activity.feedback.ShowFeedBackActivity"
            android:parentActivityName=".activity.feedback.FeedActivity" />
        <!-- 展示详细反馈信息 -->
        <activity
            android:name=".activity.feedback.ShowFeedBackDetailActivity"
            android:parentActivityName=".activity.feedback.ShowFeedBackActivity" />
        <!-- 关于作者的界面 -->
        <activity
            android:name=".activity.AboutAuthorActivity"
            android:parentActivityName=".activity.SettingActivity" />

        <!-- 有米广告的配置 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <!--      游戏的界面-->
        <activity
            android:name=".game.GameActivity"
            android:theme="@style/MyTheme"></activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false"></service>
        <service
            android:name="net.youmi.android.ExpService"
            android:exported="false"></service>

        <receiver android:name="net.youmi.android.AdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
