<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beyondself.jalen.studyingandroid">

    <!-- Bmob的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 分享添加的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 以下为可选权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 语音识别加的权限 -->
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />

    <application
        android:icon="@mipmap/icon_book"
        android:name=".aplication.APP"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- 闪屏页面 -->
        <activity
            android:name=".activity.main.SplashActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页面 -->
        <activity android:name=".activity.main.MainActivity" />
        <!-- 登录页面 -->
        <activity
            android:name=".activity.login.LoginActivity"
            android:parentActivityName=".activity.main.MainActivity" />
        <!-- 注册页面 -->
        <activity
            android:name=".activity.login.RegisterActivity"
            android:parentActivityName=".activity.login.LoginActivity" />
        <!-- 用户信息页面 -->
        <activity
            android:name=".activity.login.UserInfoActivity"
            android:parentActivityName=".activity.main.MainActivity" />
        <!-- 更改用户信息页面 -->
        <activity
            android:name=".activity.login.UpdateUserInfoActivity"
            android:parentActivityName=".activity.login.UserInfoActivity" />

        <!-- 设置页面 -->
        <activity
            android:name=".activity.main.SettingActivity"
            android:parentActivityName=".activity.main.MainActivity" />
        <!-- 找回密码页面 -->
        <activity
            android:name=".activity.login.PickUpPSDActivity"
            android:parentActivityName=".activity.login.LoginActivity" />
        <!-- 学习页面 -->
        <activity
            android:name=".activity.study.StudyActivity"
            android:parentActivityName=".activity.main.MainActivity" />
        <!-- 排行榜页面 -->
        <activity
            android:name=".activity.main.RankActivity"
            android:parentActivityName=".activity.main.MainActivity" />
        <!-- 一键分享功能 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 调用微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 调用新浪原生SDK，需要注册的回调activity -->
        <activity
            android:name="cn.sharesdk.sina.weibo.SinaActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 反馈信息 -->
        <activity
            android:name=".activity.feedback.FeedActivity"
            android:parentActivityName=".activity.main.SettingActivity" />
        <!-- 展示反馈信息 -->
        <activity
            android:name=".activity.feedback.ShowFeedBackActivity"
            android:parentActivityName=".activity.feedback.FeedActivity" />
        <!-- 展示详细反馈信息 -->
        <activity
            android:name=".activity.feedback.ShowFeedBackDetailActivity"
            android:parentActivityName=".activity.feedback.ShowFeedBackActivity" />
        <!-- 关于作者的界面 -->
        <activity
            android:name=".activity.main.AboutAuthorActivity"
            android:parentActivityName=".activity.main.SettingActivity" />
        <!--面试题库页面-->
        <activity
            android:name=".activity.study.InterViewActivity"
            android:parentActivityName=".activity.main.MainActivity" />
        <!--基类页面-->
        <activity android:name=".activity.main.BaseActivity" />
        <!--面试题详细展示页面-->
        <activity
            android:name=".activity.study.InterViewShowActivity"
            android:parentActivityName=".activity.study.InterViewActivity" />
        <!--评论展示页面-->
        <activity android:name=".activity.study.CommandShowActivity" />
        <!--面试题收藏页面-->
        <activity
            android:name=".activity.study.CollectionActivity"
            android:parentActivityName=".activity.main.MainActivity" />
        <!--面试题添加页面-->
        <activity
            android:name=".activity.study.AddInterViewActivity"
            android:parentActivityName=".activity.study.InterViewActivity"></activity>
    </application>

</manifest>
